body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.navbar {
    text-align: center;
    width: 100%;
    background-color: red;
    overflow: hidden;
    margin-bottom: 20px;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: darkred;
}
.b{
    background-color: darkred;
}
.banner {
    
    width: 100%;
    height: 400px;
    background-image: url(../img/banglar\ d\ bnbnbnbnb.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7rem;
    
    
}
.bot-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.bot-box {
    background-color: white;
    width: 80%;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: box-shadow 0.3s;
}
.banne{
    width: 100%;
    height: 15em;
    object-fit: cover;
}
.bot-box img.pfp {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.bot-box h2 {
    margin: 10px 0;
}
.bot-box p {
    font-size: 1rem;
    color: #666;
}
.glow {
    animation: glow 2s infinite;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    }
    33% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
    }
    66% {
        box-shadow: 0 0 10px darkorange, 0 0 20px darkorange, 0 0 30px darkorange, 0 0 40px darkorange;
    }
    100% {
        box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    }
}
